<div id="holder" class="tii_login_holder">
    <form method="post">
    	<ul>
    		<li>
    			<label for="field_login">Username</label>
    			<span id="field_login"></span>
    		</li>
    		<li>
    			<label for="field_password">Password</label>
    			<span id="field_password"></span>
    		</li>
    	</ul>
    	<div id="buttons_holder">
    		<button id="button_submit" type="submit">Submit</button>
    	</div>
        <!-- write a function to place the hidden inputs in here..
        we should pass the module name and action.. etc.. 
         -->
         <input type="hidden" name="action" value="login" />
    </form>
</div>
